@use '@cloudcast/styles' as *;

.weatherCard {
  width: 12.5rem;
  height: 15.6rem;
  background-color: $background-color-card;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
